*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #31363f;
  /* height: 100vh; */
  /* overflow-y: auto; */
  position: relative;
  color: #222831;
}

/* Nav bar & header styling */

header {
  position: absolute;
  width: 100%;
  padding: 12px 25px;
  background-color: #b9132a;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 75px;
}

header svg {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header nav .nav-logo img {
  /* height: 70px; */
}

header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header .menu .menu-item {
  list-style-type: none;
  margin: 16px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  position: relative;
}

header .menu .menu-item a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

header .menu .menu-item::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Position the line beneath the menu item */
  left: 0;
  width: 0;
  height: 2px; /* Adjust the height of the line */
  background-color: transparent; /* Initially transparent */
  transition: width 0.6s ease; /* Add transition for smooth effect */
}

header .menu .menu-item:hover::after {
  width: 100%;
  background-color: #fff; /* Change the background color on hover */
}

.menu-toggle {
  display: none;
}

/* Main body styling */

main {
  position: relative;
  padding-top: 50px;
}

/* About section styling */
.about {
  /* position: relative; */
  /* padding-top: 100px; */
  /* padding-bottom: 50px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}

.about > div {
  padding: 0px 50px;
}

.about-content {
  grid-area: "about";
  position: relative;
  width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.carousel {
  grid-area: carousel;
  width: 100%;
}
.about-content h1 {
  padding: 10px 8px;
  border-left: 2px solid #b9132a;
  margin-bottom: 30px;
  font-size: 36px;
}

.about-content p {
  margin-bottom: 30px;
  color: #31363f;
  line-height: 25px;
  font-size: 20px;
}

.arrow-button a,
.go-btn a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.go-btn {
  display: inline-block;
  padding: 10px 20px; /* Increase padding for better button appearance */
  background: #b9132a;
  border: 2px solid #b9132a; /* Add border for better contrast */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease; /* Smooth transition */
}

.go-btn:hover {
  background-color: #ff6347; /* Darker background color on hover */
  border-color: #ff6347; /* Darker border color on hover */
}

.go-btn a:hover {
  color: white; /* Maintain text color on hover */
}

.slideshow-container {
  min-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 25px;
}

.mySlides {
  display: none;
  /* max-height: 300px; */
}

.mySlides img {
  min-width: 100%;
  max-height: 60vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Contact section styling */

.contact {
  position: relative;
  padding: 100px 0;
}

.red-strip {
  background-color: #b9132a;
  /* max-height: 200px; */
  padding: 25px;
  position: relative;
}

.contact-row {
  color: white;
  display: grid;
  grid-template-areas:
    "icon tag"
    "icon content";
  gap: 5px;
  width: 250px;
  margin: 20px;
  margin-left: 100px;
}

.contact-row i {
  grid-area: icon;
  text-align: center;
  margin: auto;
  font-size: 25px;
  width: 20px;
}

.contact-row h5 {
  grid-area: tag;
  font-size: 16px;
}

.contact-row p {
  grid-area: content;
  font-size: 14px;
}

.contact-box {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 20px;
  border: 1px solid #ccc;
  /* height: 75%; */
  background-color: #fff;
  /* border: 1px solid #ccc; */
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 5px;
}

.contact-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-box h3 {
  font-size: 23px;
  color: #222831;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-box button {
  width: 100%;
  background-color: #76abae;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-box button:hover {
  background-color: #659194;
}

/* Footer styling */

footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 180px;
  color: white;
  background-color: #31363f;
  text-align: center;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

footer .upper-footer {
  padding: 20px;
}

footer .fa {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

footer .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.upper-footer .sm-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upper-footer .sm-links a {
  margin: 6px;
  font-size: 25px;
}

footer .upper-footer .links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .upper-footer .links ul li {
  list-style-type: none;
  margin: 15px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

footer .upper-footer .links ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.links ul li:hover {
  color: #76abae;
}

footer .credentials {
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* map */

/* #map {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.alquds-logo {
  position: absolute;
  top: 0px; 
  right: 130px; 
  z-index: 1000; 
}

.logo img {
  width: 130px; 
  height: auto; 
} */

.info.legend {
  background: white;
  line-height: 1.5;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .info.legend {
    font-size: 12px;
    padding: 8px;
  }

  .info.legend i {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 400px) {
  body {
    height: 100vh;
    overflow: scroll;
  }
  .logo {
    position: relative;
    text-align: center;
  }
  .logo img {
    position: relative;
    display: inline-block;
    top: 0px;
    right: 50%;
    transform: translateX(50%);
    z-index: 1000;
  }
  .info.legend {
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: 90%;
    font-size: 12px;
    padding: 6px;
    line-height: 1.2;
  }
  .info.legend i {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 850px) {
  header nav .nav-logo img {
    height: 60px;
  }
  /* about */
  .about {
    padding-top: 90px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .carousel {
    padding-top: 0;
    /* width: 100%; */
  }

  .about-content {
    margin-top: 50px;
    /* width: 100%; */
  }
}

@media (max-width: 700px) {
  .menu-toggle {
    display: block;
    float: right;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px;
  }

  .menu-toggle i {
    font-size: 50px;
  }

  header .menu {
    display: none; /* Hide the menu by default */
    position: absolute; /* Position the menu absolutely */
    top: 100%; /* Position it beneath the bar */
    left: 0; /* Align it to the left */
    width: 100%; /* Occupy full width */
    height: 100vh;
  }
  .fa-university::before {
    color: #b9132a;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-top: 1px solid #ccc;
  }

  header .menu .menu-item {
    list-style-type: none;
    margin: 0px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    position: relative;
    padding: 20px;
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }

  header .menu .menu-item a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #222831;
  }
  header .menu .menu-item::after {
    content: "";
  }

  header .menu .menu-item:hover::after {
    display: none;
  }
}

@media (max-width: 900px) {
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content h1 {
    font-size: 25px;
  }

  .about-content p {
    font-size: 16px;
    align-items: center;
  }

  .go-btn a {
    font-size: 16px;
  }
  .go-btn {
    padding: 5px;
    width: 100%;
  }

  .slideshow-container {
    margin-top: 50px;
  }

  .red-strip {
    display: none;
  }
  .contact {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    /* padding-top: 50px; */
  }
  .contact-box {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 90%;
  }
}

/* north arrow */
.north-arrow {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 2px;
  margin: 0;
}
